################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/C01/Averages/Averages.Tests/bin/Debug/net6.0
/C01/Averages/Averages.Tests/obj
/C01/HelloWorld/obj
/C01/Namespaces/MyApp/obj
/C01/VisibleBoilerplate/bin/Debug/net6.0
/C01/VisibleBoilerplate/obj
/C02/BasicCoding/obj
/C02/BasicCoding/bin/Debug/net7.0
/C05/.vs
/C05/C01_Arrays/C0501/bin/Debug/net6.0
/C05/C01_Arrays/C0501/obj
/C09/C01_Delegates/C0101/bin/Debug/net6.0
/C09/C01_Delegates/C0101/obj
/C11/.vs
/C11/C01_FundamentalInterfaces/C0101_ImplementColdSources/C1101ImplementColdSource/bin/Debug/net6.0
/C11/C01_FundamentalInterfaces/C0101_ImplementColdSources/C1101ImplementColdSource/obj
/C11/C01_FundamentalInterfaces/C0101_ImplementColdSources/C1102ImplementColdSource_FilePusher/bin/Debug/net6.0
/C11/C01_FundamentalInterfaces/C0101_ImplementColdSources/C1102ImplementColdSource_FilePusher/obj
/C11/C01_FundamentalInterfaces/C0101_ImplementColdSources/C1103ImplementColdSource_HandleError/bin/Debug/net6.0
/C11/C01_FundamentalInterfaces/C0101_ImplementColdSources/C1103ImplementColdSource_HandleError/obj
/C11/C01_FundamentalInterfaces/C0102_ImplementHotSources/C1104ImplementKeyWatcher/bin/Debug
/C11/C01_FundamentalInterfaces/C0102_ImplementHotSources/C1104ImplementKeyWatcher/obj
/C11/C02_PubSubWithDelegates/C1105CreateWithDelegates/bin/Debug/net6.0
/C11/C02_PubSubWithDelegates/C1105CreateWithDelegates/obj
/C11/C02_PubSubWithDelegates/C1106CreateWithAsyncDelegate/bin/Debug/net6.0
/C11/C02_PubSubWithDelegates/C1106CreateWithAsyncDelegate/obj
/C11/C02_PubSubWithDelegates/C1107DelegateBasedHotSource/bin/Debug/net6.0
/C11/C02_PubSubWithDelegates/C1107DelegateBasedHotSource/obj
/C11/C02_PubSubWithDelegates/C1108SubscribeWithDelegate/bin/Debug/net6.0
/C11/C02_PubSubWithDelegates/C1108SubscribeWithDelegate/obj
/C11/C03_SequenceBuilders/C1109Generation/bin/Debug/net6.0
/C11/C03_SequenceBuilders/C1109Generation/obj
/C11/C03_SequenceBuilders/C1110GenerateTimedItems/bin/Debug/net6.0
/C11/C03_SequenceBuilders/C1110GenerateTimedItems/obj
/C11/C04_LINQQueries/C1111FilterItems/bin/Debug/net6.0-windows
/C11/C04_LINQQueries/C1111FilterItems/obj
/C11/C04_LINQQueries/C1112GroupOperators/bin/Debug/net6.0-windows
/C11/C04_LINQQueries/C1112GroupOperators/obj
/C11/C04_LINQQueries/C1113Grouping/bin/Debug/net6.0
/C11/C04_LINQQueries/C1113Grouping/obj
/C11/C06_Schedulers/C0601ObserveOnExample/bin/Debug/net6.0-windows
/C11/C06_Schedulers/C0601ObserveOnExample/obj
/C11/C07_Subjects/C0701/bin/Debug/net6.0
/C11/C07_Subjects/C0701/obj
/C11/C08_Adaptation/C0801FromEvents/bin/Debug/net6.0
/C11/C08_Adaptation/C0801FromEvents/obj
/C11/C09_TimedOperations/C0901Intervals/bin/Debug/net6.0
/C11/C09_TimedOperations/C0901Intervals/obj
/C11/C09_TimedOperations/C0902Timers/bin/Debug/net6.0
/C11/C09_TimedOperations/C0902Timers/obj
/C09/.vs
/C10/.vs/C10/v17
/C02/.vs
/C01/Averages/Averages/obj/Debug/net6.0
/C01/Averages/Averages/obj
/C01/.vs
*.wsuo
/.vs
/C01/Averages/Averages/bin/Debug/net6.0
*.dll
*.pdb
*.exe
*.cache
/C04/C01_Define/obj
/C04/C01_Define/bin/Debug/net7.0
/C04/C02_Constraints/obj
/C04/C02_Constraints/bin/Debug/net7.0
/C09/C01_Delegates/C0102/bin/Debug/net7.0
/C09/C01_Delegates/C0102/obj
/C04/.vs/C04
*.bin
/C05/C02_Lists/C0502/bin/Debug/net8.0
/C05/C02_Lists/C0502/obj
