################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

*.vsidx
*.wsuo
/.vs
*.suo
*.tlog
*.ilk
*.recipe
*.log
*.obj
*.idb
*.opendb
*.db-shm
*.db
*.ipch
*.db-wal
*.pdb
*.exe
*.user
*.filters
*.json
